.todo-item{
    border: 1px #ccc solid;
    padding: 15px 0 15px 0;
    margin-bottom: -1px;
    cursor: pointer;
}

.description{
    margin-left: 15px;
}

.done{
    color: #aaa;
}

.done .description{
    text-decoration: line-through;
}

.label{
    margin-right: 5px;
}

.todo-action{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.todo-delete{
    margin: auto;
}

button.todo-delete{
    border-radius: 25px;
    background-color: #9B9B9B;
    color: #FFFFFF;
    border-color: transparent;
    font-size: 18px;
    padding: 2px 8px;
}

